.App {
    text-align: center;
    background-color: #4e54c8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* updated the design */
  .react-chatbot-kit-chat-container{
      height: 700px;
      width: 500px;
      border: 2px solid black;
      border-radius: 1.1%;
  }
 
  .react-chatbot-kit-chat-bot-avatar-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    border: 1.5px solid black;
    margin-right: 12.5px;
    background-color: rgb(97, 78, 241);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-chatbot-kit-chat-bot-message{
      margin-left: 0px;
      border: 1px solid black;
  }
 
  .react-chatbot-kit-chat-bot-message-arrow{
    width: 0;
    height: 0;
    border-top: 8px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    position: absolute;
    left: -7px;
    top: 13px;
  }
 
  .react-chatbot-kit-user-chat-message{
    background-color: #4e54c8;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: black;
    border: 1px solid black;
    font-weight: medium;
    position: relative;
    text-align: left;
  }
 
  .react-chatbot-kit-user-chat-message-arrow{
    width: 0;
    height: 0;
    border-top: 8px solid rgba(0, 0, 0, 0);
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid #4e54c8;
    position: absolute;
    right: -7px;
    top: 13px;
  }
 
  .react-chatbot-kit-user-avatar-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 12.5px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
 
 
  /* ending of the chat bot & user design */
  .react-chatbot-kit-chat-inner-container{
      height: 700px;
  }
  
  .react-chatbot-kit-chat-message-container{
      height: 619px;
      border-bottom: 1px solid black;
  }
 
  